<!DOCTYPE html>
<html lang="zxx" class="no-js">

<%- include('include/head.ejs') %>
<body>

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>FORGET PASSWORD</h1>
					<nav class="d-flex align-items-center">
						<a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="#">Give Your Correct Email</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Login Box Area =================-->
	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner">
						 <!-- Display response message here -->
					<div id="responseMessage" style="margin-top: 15px;"></div>
						<h3>Create a new Password</h3>
						<form class="row login_form" onsubmit="formSubmit(event)">
							<div class="col-md-12 form-group">
								<input type="text" class="form-control" id="email" name="email" placeholder="Email" >
							</div>
							
							
							<div class="col-md-12 form-group">
								<button type="submit" class="primary-btn">Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->

	<%- include('include/footer.ejs') %>
	<script>
		async function formSubmit(event){
		 event.preventDefault();
			 const email =document.getElementById("email").value;
			 try{
			   const response =await fetch("/api/send-reset-password-email",{
				 method:"POST",
				 headers:{
				   "Content-Type": "application/json",
				 },
				 body :JSON.stringify({
				   email:email,
				 }),
			   });
			   const result = await response.json();
			   resopnsemessage(result);
			 }catch(error){
			   console.error("Error:", error.message);
			 }
		}
		function resopnsemessage(result){
		 const responseMessageElement =
		 document.getElementById("responseMessage");
	   responseMessageElement.innerHTML = result.message;
   
	   // Add color based on message type
	   if (result.status === "success") {
		 responseMessageElement.style.color = "green";
	   } else if (result.status === "failed") {
		 responseMessageElement.style.color = "red";
	   }
		}
	   </script>
</body>

</html>